<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trade Wave</title>
    <link rel="stylesheet" href="/main.css">
    <!-- <link rel="icon" type="image/x-icon" href="logo.jpg"> -->
</head>
<body>
    <div class="navbar">
         <div class="logo  navcontent">
          
         </div>


         <div class="aboutus navcontent">
            <a href="/aboutus" style="color: white; text-decoration: none;">About Us</a>
         </div>

         <div class="marketing-team nav navcontent">
            Marketing Team
         </div>

         <div class="carrers nav navcontent">
            Carrers
         </div>

         <div class="contactus nav navcontent">
              <a href="/contact" style="text-decoration: none; color: #fff;">Contact Us</a>
         </div>
         <div class="login navcontent">
           <a href="/login" style="text-decoration: none; color: #fff;"> Login</a>
       </div>

       <div class="signup nav navcontent">
           <a href="/signup" style="text-decoration: none; color: #fff;">Sigin Up</a>
       </div>

    </div>

    <div class="main">
         <div class="buyers">
            <div class="buycontent">
                <h1 style="color: red; margin-bottom: 10px; " class="heading">TRADE WAVE</h1>
                This is the best place to buy any thing you want
            </div>
            
              <div class="buyerimage">

              </div>
         </div>
       
         <div class="sellers">
            <div class="individualseller">
                <div class="individualimage">

                </div>
                <div class="individualcontent">
                      Want to start your own business<br><br>
                      <a href="/signup"><button>Sign Up</button></a>
                </div>
            </div>

            <div class="bulkseller">
                <div class="bulkimage">

                </div>
                <div class="bulkcontent">
                     Already a Company? Want more Audience <br><br>
                     <a href="/signup"><button>Sign Up</button></a>
                </div>
            </div>

         </div>

         <div class="auction">
            <div class="auctionimage">

            </div>
            <div class="auctioncontent">
                Our Exclusive Auction space where you can bid or sell that have huge demand in market   
            </div>
         </div>


         <div class="extrainfo">
            <div class="marketing">
                <div class="marketingimage">

                </div>
                <div class="marketingcontent">
                      
                </div>
            </div>

            <div class="twohand">
                <div class="twohandimage">

                </div>
                <div class="twohandcontent">
                     
                </div>
            </div>

         </div>

         
    </div>

    

     


    <script src="app.js"></script>
</body>
</html>